# Data
pandas
numpy
scikit-learn

# Machine Learning
xgboost
lightgbm
imbalanced-learn

# API
fastapi
uvicorn[standard]
pydantic

# Database
sqlalchemy
psycopg2-binary

# MLOps
mlflow==2.10.0

# Testing
pytest==8.0.2
httpx==0.27.0

# Code quality
ruff

# Data acquisition
kaggle